<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_FSeo>
			<version>1.1.0.8</version>
		</Fishpig_FSeo>
	</modules>
	<global>
		<blocks>
			<fseo>
				<class>Fishpig_FSeo_Block</class>
			</fseo>
			<catalog>
				<rewrite>
					<category_view>Fishpig_FSeo_Block_Catalog_Category_View</category_view>
					<layer_state>Fishpig_FSeo_Block_Catalog_Layer_State</layer_state>
				</rewrite>
			</catalog>
		</blocks>
		<helpers>
			<fseo>
				<class>Fishpig_FSeo_Helper</class>
			</fseo>
		</helpers>
		<models>
			<fseo>
				<class>Fishpig_FSeo_Model</class>
				<resourceModel>fseo_resource</resourceModel>
			</fseo>
			<fseo_resource>
				<class>Fishpig_FSeo_Model_Resource</class>
				<entities>
					<catalog_layer_page><table>fseo_layer_page</table></catalog_layer_page>
				</entities>
			</fseo_resource>
			<catalog>
				<rewrite>
					<layer_filter_item>Fishpig_FSeo_Model_Catalog_Layer_Filter_Item</layer_filter_item>
					<layer_filter_attribute>Fishpig_FSeo_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
					<layer_filter_category>Fishpig_FSeo_Model_Catalog_Layer_Filter_Category</layer_filter_category>
				</rewrite>
			</catalog>
			<catalog_resource>
				<rewrite>
					<layer_filter_attribute>Fishpig_FSeo_Model_Resource_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
				</rewrite>
			</catalog_resource>
			<catalog_resource_eav_mysql4>
				<rewrite>
					<layer_filter_attribute>Mage_Catalog_Model_Resource_Layer_Filter_Attribute</layer_filter_attribute>
				</rewrite>
			</catalog_resource_eav_mysql4>
		</models>
		<resources>
			<fseo_setup>
				<setup>
					<module>Fishpig_FSeo</module>
				</setup>
			</fseo_setup>
		</resources>
		<events>
			<controller_front_init_routers>
				<observers>
					<fseo>
						<class>Fishpig_FSeo_Controller_Router</class>
						<method>initControllerRouters</method>
					</fseo>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>
	<frontend>
		<routers>
			<fseo>
				<use>standard</use>
				<args>
					<module>Fishpig_FSeo</module>
					<frontName>fseo</frontName>
				</args>
			</fseo>
		</routers>
		<layout>
			<updates>
				<fseo>
					<file>fseo.xml</file>
				</fseo>
			</updates>
		</layout>
		<events>
			<catalog_controller_category_init_after>
				<observers>
					<fseo>
						<class>fseo/catalog_layer_observer</class>
						<method>catalogControllerCategoryInitAfterObserver</method>
					</fseo>
				</observers>
			</catalog_controller_category_init_after>
			<controller_front_send_response_before>
				<observers>
					<fseo>
						<type>singleton</type>
						<class>fseo/catalog_layer_observer</class>
						<method>injectCanonicalTagObserver</method>
					</fseo>
				</observers>
			</controller_front_send_response_before>
		</events>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<fseo>
					<file>fseo.xml</file>
				</fseo>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<fseo before="Mage_Adminhtml">Fishpig_FSeo_Adminhtml</fseo>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<fseo>
			<layer>
				<enabled>attributeSplash_page,catalog_category</enabled>
				<default_title>{filters} {entity}</default_title>
				<default_meta_description>Check out our range of {filters} {entity}. These are in stock and ready to order.</default_meta_description>
				<default_entity_name>{filters} {entity}</default_entity_name>
				<default_entity_description>Check out our range of {filters} {entity}. These are in stock and ready to order.</default_entity_description>
				<use_all_attributes>1</use_all_attributes>
				<use_specific_attributes>shoe_type</use_specific_attributes>
				<show_applied_category_filters>1</show_applied_category_filters>
				<multiselect>1</multiselect>
			</layer>
		</fseo>
	</default>
</config>